<!DOCTYPE html>
<html>
  <head>
    <title>Birds</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1>{{name}}</h1>
    <img src="{{image}}" alt="Picture of {{name}}" />
    <p class="classification">
      <span class="order" title="Order">{{order}}</span> &raquo;
      <span class="family" title="Family">{{family}}</span> &raquo;
      <span class="genus" title="Genus">{{genus}}</span> &raquo;
      <span class="species" title="Species">{{species}}</span>
    </p>
  </body>
</html>
